{% extends 'base.html' %}
{% block title %} Home {% endblock%}

{%block content %}
<html>
<head>
    <title></title>
    <style>
        body{
            height: 100vh;
            margin: 0;
        }
    </style>
    <script type="module" src="https://unpkg.com/@googlemaps/extended-component-library@0.3"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>

</head>
<body>
    <img src='{{ url_for("static", filename="stort_logo.png") }}' class="rounded mx-auto d-block" alt="logo"/>

</body>
</html>
{%endblock%}